<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">



    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="">
                <i class="fa fa-th"></i> <span>Dashboard</span> <small class="label pull-right bg-green">new</small>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-th"></i> <span>Users</span>
            </a>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Inventory</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">

                <li>
                    <a href="#"><i class="fa fa-circle-o"></i><i class="fa fa-angle-left pull-right"></i>Back office</a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Items </a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Categories </a></li>
                        <li><a href="<?php echo base_url('index.php/counter_parties');?>"><i class="fa fa-circle-o"></i> Counter Parties </a></li>
                        <li><a href="<?php echo base_url('index.php/locations');?>"><i class="fa fa-circle-o"></i> Locations</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Opening Stock Entry </a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Closing Stock </a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i><i class="fa fa-angle-left pull-right"></i>Purchase</a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Add</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> View</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i><i class="fa fa-angle-left pull-right"></i>Sales</a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Add</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> View</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i><i class="fa fa-angle-left pull-right"></i>Services</a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Add</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> View</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i><i class="fa fa-angle-left pull-right"></i>Return</a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Add</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> View</a></li>

                    </ul>
                </li>


            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>CRM</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="../../documentation/index.html"><i class="fa fa-book"></i> <span>Customers</span></a></li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i><i class="fa fa-angle-left pull-right"></i>Follow Up</a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Add</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> View</a></li>

                    </ul>
                </li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Reports</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i><i class="fa fa-angle-left pull-right"></i>Stock</a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Current Stock</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Datewise Stock Report</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Item Wise Report</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Party wise Report</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i><i class="fa fa-angle-left pull-right"></i>Quotation</a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Add</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> View</a></li>

                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="../../documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
    </ul>
</section>
<!-- /.sidebar -->